<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="banner">
    <%= image_tag("blogman1.jpg") %>
    <%= @page_title || "NEO BLOGGERS" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="http://localhost:3000">Home</a><br />
      <a><%= link_to 'New User/Sign Up', new_user_path %></a><br />
      <a href="http://www..../contact">Contact</a><br /><br /><br />
      <a><%= link_to 'Sign In', login_url %></a>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
